<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">

<head>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type=text/javascript>
    $(document).ready(function (){
        serialize = function(obj) {
            var str = [];
            for(var p in obj)
                if (obj.hasOwnProperty(p)) {
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                }
          return str.join("&");
        }
        console.log("ready");
        $.ajax({
            url: "main",
            method: "GET",
            data: serialize({'resource': "notes", 'id':'1'}),
            dataType:"text",
        }).done(function(data) {
            console.log("data", data);
            j = JSON.parse(data);
            $("#textarea").val(j['text']);
        });

        $("#btn").click(function (){
            $.ajax({
                url: "main",
                method: "POST",
                data: serialize({'resource': "notes", 'id':'1', 'data' : $("#textarea").val()}),
                dataType:"text",
                }).done(function (data){
                    console.log(data);
                    });
           
        });
    });
    </script>
    <title>Cool Title</title>

</head>

<body>

<p>This is my web page. And {{someVar}}</p>
<input type=button value="Click Me" id="btn" /> </br>

<textarea id=textarea>

</textarea>
</br>

</body>

</html>



